@page "/"
@using SqlTransfDataAccess.Models.ClientDatabaseModels

@inject ClientDatabaseContext clientDatabase;



@if (_databases != null)
{
    @foreach (var client in _databases)
    {
        <p>@client.Name</p>
    }
}
else
{
    <p>@databaseInitializationStatus</p>
}

<button @onclick="test">Save new configuration</button>


@code
{
    private List<Database> _databases = null;
    private string? databaseInitializationStatus = "loading...";

    public Configuration configuration = new Configuration();
    
    public async Task test()
    {
        configuration.Host = "Test";
        configuration.Port = 123;
        configuration.DbInfo = _databases[0];
        configuration.User = "Leno";
        configuration.StoringPass = "____";

        clientDatabase.DbConfiguration.Add(configuration);
        await clientDatabase.SaveChangesAsync();
    }

    /**
     * <summary>
     *  Adding database model list
     * </summary>
     */
    protected override async Task OnInitializedAsync()
    {
        Task.Run(() =>
            {
                try
                {
                    _databases = clientDatabase.ClientDatabases.ToList();
                }
                catch (Exception e)
                {
                    databaseInitializationStatus = e.Message;
                }
                InvokeAsync(StateHasChanged);
            }
        );
    }
    
    
    
    


}
